@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

html,
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow-x: hidden;
    color: var(--black);
    background: var(--background-color);
}

:root{
    --gold: #ffdb58;
    --black: #000000;
    --red: #ff0000;
    --grey: #BABCBB;
    --shadow: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,219,88,1) 100%);;
    --background-color: rgba(240,202,183,255);
    --cartBack: #FFE25D;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  /* Track */
::-webkit-scrollbar-track {
    background: var(--red);
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--gold);
    border-radius: 1rem;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b00506;
}


a {
    color: inherit;
    text-decoration: none;
}

  * {
    box-sizing: border-box;
    transition: all 300ms ease;

}

.btn{
  width: max-content;
  padding: 1rem;
  border-radius: 4rem;
  border: none;
  color: azure;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: var(--red);
}

.btn:hover{
  cursor: pointer;
  transform: scale(1.1);
}