.container{
    display: flex;
    position: relative;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.ndazi{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-top: 3rem;
    padding: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.hero{
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Eagle Lake', cursive;
}

.txt{
    width: 70%;
    color: #000;
    font-weight: 600;
}

.btn{
    padding: 1rem 2.5rem
    ;
}

.right{
    position: relative;
}

.imageContainer{
    width: 38rem;
    position: absolute;
    top: -5rem;
    left: 5rem;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: max-content;
    padding: 1rem;
    border-radius: 5rem;
    top: 5rem;
    left: -3rem;
    gap: 0.5rem;
    background-color: azure;
    box-shadow: #f4efeb;
}

.contact div{
    background: green;
    border-radius: 50%;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
}

.contact:hover{
    cursor: pointer;
    transform: scale(1.1);
}

